.pipeFunction
{
    color:red;
    text-align: center;
    font-weight: 900;
}

.screen
{
    background-color: greenyellow;
}
.footer
{
    text-align: center;
    color:blue;
}

.placeholderAlign
{
    text-align: center;
}