.head
{
    margin-left: 20px;
margin-top: 26px;
    color: greenyellow;
}

.style
{
    color: white;
    text-align: center;
}


.heading
{
    color: greenyellow;
    margin-top: 98px;
    margin-left: 95px;
}



.jsFunc
{
    color: red;
    text-align: right;
    padding-right: 50px;
    margin-top: -2160px;
}
.abcd
{
    color: red;
    text-align: right;
    padding-right: 50px;
    margin-top: -1890px;
}
